.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-11xl) var(--br-241xl) 0;
  background-color: var(--color-blueviolet);
  width: 306px;
  height: 847px;
}
.frameItem {
  position: absolute;
  top: 62px;
  left: 46px;
  border-radius: 50%;
  background-color: var(--color-gray-100);
  width: 187px;
  height: 188px;
}
.abc123gmailcom,
.yourName {
  position: absolute;
  left: 32px;
  text-align: left;
  display: inline-block;
}
.yourName {
  top: 261px;
  font-family: var(--font-poppins);
  width: 201px;
  height: 32px;
}
.abc123gmailcom {
  top: 293px;
  width: 216px;
  height: 37px;
}
.frameInner {
  position: absolute;
  top: 356px;
  left: 32px;
  border-radius: var(--br-41xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 233px;
  height: 45px;
}
.meetings,
.rectangleDiv {
  position: absolute;
  cursor: pointer;
}
.rectangleDiv {
  top: 427px;
  left: 32px;
  border-radius: var(--br-41xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 233px;
  height: 45px;
}
.meetings {
  top: 442px;
  left: 46px;
  display: inline-block;
  width: 200px;
  height: 30px;
}
.frameChild1 {
  top: 569px;
  left: 32px;
  border-radius: var(--br-41xl);
  width: 233px;
  height: 45px;
}
.frameChild1,
.frameChild2,
.frameChild3 {
  position: absolute;
  background-color: var(--color-blueviolet);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frameChild2 {
  top: 498px;
  left: 32px;
  border-radius: var(--br-41xl);
  width: 233px;
  height: 45px;
  cursor: pointer;
}
.frameChild3 {
  top: 719px;
  left: 59px;
  border-radius: var(--br-71xl);
  width: 147px;
  height: 47px;
}
.connect,
.home,
.notifications {
  display: inline-block;
  height: 30px;
}
.home {
  position: absolute;
  top: 725px;
  left: 103px;
  text-align: left;
  width: 64px;
  cursor: pointer;
}
.connect,
.notifications {
  width: 200px;
}
.connect {
  position: absolute;
  top: 371px;
  left: 46px;
}
.notifications {
  top: 581px;
  left: 48px;
}
.join,
.notifications,
.uileditIcon {
  position: absolute;
  cursor: pointer;
}
.join {
  top: 513px;
  left: 46px;
  display: inline-block;
  width: 200px;
  height: 30px;
}
.uileditIcon {
  top: 286px;
  left: 216px;
  width: 34px;
  height: 26px;
  overflow: hidden;
}
.frameChild4 {
  position: absolute;
  top: 640px;
  left: 30px;
  border-radius: var(--br-41xl);
  background-color: var(--color-blueviolet);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 233px;
  height: 45px;
}
.resources {
  position: absolute;
  top: 650px;
  left: 48px;
  display: inline-block;
  width: 200px;
  height: 30px;
  cursor: pointer;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 306px;
  height: 847px;
  overflow: hidden;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
.quoteOfThe,
.whenSomethingIs {
  position: absolute;
  top: 105px;
  left: 325px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 318px;
  height: 38px;
}
.whenSomethingIs {
  top: 156px;
  left: 331px;
  font-size: var(--font-size-mini);
  width: 504px;
}
.desktop4Child,
.desktop4Inner,
.desktop4Item {
  position: absolute;
  top: 149px;
  left: 1082px;
  border-radius: 50%;
  background-color: var(--color-blueviolet);
  width: 104px;
  height: 89px;
}
.desktop4Inner,
.desktop4Item {
  top: -32px;
  left: 1134px;
  width: 149px;
  height: 137px;
}
.desktop4Inner {
  top: 339px;
  left: 1171px;
  width: 72px;
  height: 62px;
}
.goodMorningUser {
  position: absolute;
  top: 27px;
  left: 819px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 412px;
  height: 61px;
}
.frameChild5 {
  position: absolute;
  top: 7px;
  left: 6px;
  border-radius: var(--br-41xl);
  background: linear-gradient(180deg, #fef6f6, rgba(254, 246, 246, 0));
  box-shadow: 10px 30px 4px rgba(0, 0, 0, 0.25);
  width: 869px;
  height: 779px;
}
.div {
  position: absolute;
  top: 124px;
  left: 255px;
  font-weight: 600;
  display: inline-block;
  width: 185px;
  height: 68px;
}
.rectangleGroup {
  position: absolute;
  top: 222px;
  left: 337px;
  width: 894px;
  height: 815px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.desktop4 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1075px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
