.whatIsMentor {
  position: absolute;
  top: 12px;
  left: 34px;
  font-weight: 600;
  display: inline-block;
  width: 455px;
}
.whatIsMentorAndMenteeConnWrapper {
  position: absolute;
  top: 1666px;
  left: 378px;
  background-color: var(--color-blue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 488px;
  height: 48px;
  overflow: hidden;
  text-align: left;
  color: #fffcfc;
}
.features {
  position: absolute;
  top: 698px;
  left: 519px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 170px;
  height: 54px;
}
.aboutUs,
.features1,
.home {
  position: absolute;
  top: 12px;
  left: 0;
  display: inline-block;
  width: 62px;
  height: 26px;
}
.aboutUs,
.features1 {
  left: 104px;
  width: 100px;
  cursor: pointer;
}
.features1 {
  left: 246px;
  width: 91px;
}
.buttoncontainedTextAndIco {
  position: absolute;
  top: 0;
  left: 1052px;
  cursor: pointer;
}
.frame1 {
  position: absolute;
  top: 9px;
  left: 45px;
  width: 1169px;
  height: 38px;
  overflow: hidden;
}
.frameChild {
  position: absolute;
  top: 264px;
  left: 440px;
  background-color: #d9d9d9;
  width: 390px;
  height: 178px;
}
.frameParent {
  align-self: stretch;
  position: relative;
  background-color: #2b2b2d;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.mentorMenteesConnect {
  position: absolute;
  top: 76px;
  left: 27px;
  width: 487px;
  height: 174px;
  mix-blend-mode: normal;
}
.designedSpeciallyFor {
  position: absolute;
  top: 268px;
  left: 35px;
  display: inline-block;
  width: 464px;
  height: 128px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button {
  position: absolute;
  top: 436px;
  left: 145px;
  cursor: pointer;
}
.mentorMenteesConnectParent {
  align-self: stretch;
  position: relative;
  height: 601px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(/public/frame-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.frame,
.frameIcon {
  position: absolute;
  overflow: hidden;
}
.frame {
  top: 0;
  left: 0;
  width: 1263px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.frameIcon {
  top: 838px;
  left: 115px;
  width: 997px;
  height: 254px;
}
.offlineMonthlyMeetups {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% + 112.5px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 292px;
}
.frameItem {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 351px;
  height: 41px;
}
.onlineMeetups {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 347.5px);
}
.frameInner {
  position: absolute;
  top: -0.5px;
  left: 510.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 351px;
  height: 41px;
}
.onlineMonthlyMeetups {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% + 109.5px);
}
.frame3 {
  top: 0;
  left: 0;
  width: 861px;
  height: 40px;
}
.frame2,
.frame3,
.frameIcon1 {
  position: absolute;
  overflow: hidden;
}
.frame2 {
  top: 1130px;
  left: 193px;
  width: 861px;
  height: 40px;
  color: var(--color-black);
}
.frameIcon1 {
  top: 1225px;
  left: 108px;
  width: 1004px;
  height: 254px;
}
.handsOnExperience {
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 125.5px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 250px;
}
.frame5 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 351px;
  height: 41px;
  overflow: hidden;
}
.onlineDoubtSolvibng {
  position: absolute;
  top: calc(50% - 20.5px);
  left: calc(50% - 125.5px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 265px;
}
.frame6 {
  top: -0.5px;
  left: 506.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 351px;
  height: 41px;
}
.frame4,
.frame6,
.frameDiv {
  position: absolute;
  overflow: hidden;
}
.frame4 {
  top: 1526px;
  left: 193px;
  width: 857px;
  height: 40px;
  color: var(--color-black);
}
.frameDiv {
  top: 731px;
  left: 0;
  width: 1434px;
  height: 573px;
}
.undrawScheduleMeeting52nu1Icon {
  position: absolute;
  top: 36px;
  left: 47px;
  width: 259px;
  height: 166px;
  object-fit: cover;
}
.viewPastEvents {
  position: absolute;
  top: 224px;
  left: 38px;
}
.accessAll {
  margin: 0;
}
.accessAllTheContainer {
  position: absolute;
  top: 294px;
  left: 78px;
  font-size: var(--font-size-xl);
}
.frameGroup {
  text-decoration: none;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-midnightblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 353px;
  height: 405px;
  overflow: hidden;
  color: inherit;
}
.undrawCommunityReCyrm1Icon {
  position: absolute;
  top: 36px;
  left: 47px;
  width: 252.61px;
  height: 166px;
  object-fit: cover;
}
.community {
  position: absolute;
  top: 224px;
  left: 77px;
}
.accessTheLearningContainer {
  position: absolute;
  top: 294px;
  left: 47px;
  font-size: var(--font-size-xl);
}
.frame8,
.undrawCommunityReCyrm1Parent {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.undrawCommunityReCyrm1Parent {
  text-decoration: none;
  left: 395px;
  border-radius: var(--br-41xl);
  background-color: var(--color-midnightblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 353px;
  height: 405px;
  color: inherit;
}
.frame8 {
  left: 0;
  width: 748px;
  height: 406px;
}
.undrawBookshelvesReLxoy1Icon {
  position: absolute;
  top: 36px;
  left: 47px;
  width: 253.56px;
  height: 166px;
  object-fit: cover;
}
.accessResources {
  position: absolute;
  top: 228px;
  left: 28px;
}
.accessTheLearningContainer1 {
  position: absolute;
  top: 288px;
  left: 47px;
  font-size: var(--font-size-xl);
}
.undrawBookshelvesReLxoy1Parent {
  text-decoration: none;
  position: absolute;
  top: 1px;
  left: 797px;
  border-radius: var(--br-41xl);
  background-color: var(--color-midnightblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 353px;
  height: 405px;
  overflow: hidden;
  color: inherit;
}
.frame7 {
  position: absolute;
  top: 2933px;
  left: 56px;
  width: 1150px;
  height: 406px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.madeByKajalContainer {
  position: absolute;
  top: 125px;
  left: 920px;
  display: inline-block;
  width: 343px;
  height: 36px;
}
.followUsOn {
  position: absolute;
  top: 13px;
  left: 0;
  width: 235px;
  height: 24px;
}
.icbaselineDiscordIcon {
  position: absolute;
  top: 4px;
  left: 257px;
  width: 47px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}
.icbaselineFacebookIcon,
.mdilinkedinIcon,
.riinstagramFillIcon {
  position: absolute;
  top: 7px;
  left: 315px;
  width: 43px;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
}
.mdilinkedinIcon,
.riinstagramFillIcon {
  left: 369px;
  width: 37px;
}
.mdilinkedinIcon {
  left: 417px;
  width: 45px;
  height: 45px;
}
.frame9,
.madeByKajalLanjhiyanaWithParent {
  position: absolute;
  top: 39px;
  left: 390px;
  width: 553px;
  height: 56px;
  overflow: hidden;
}
.madeByKajalLanjhiyanaWithParent {
  top: 3421px;
  left: 0;
  background-color: var(--color-black);
  width: 1263px;
  height: 161px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.frameChild1,
.frameChild2,
.frameChild3,
.rectangleIcon {
  position: absolute;
  top: 617px;
  left: 17px;
  border-radius: var(--br-31xl);
  width: 278px;
  height: 223px;
  object-fit: cover;
}
.frameChild1,
.frameChild2,
.frameChild3 {
  left: 947px;
}
.frameChild2,
.frameChild3 {
  top: 117px;
  left: 0;
  width: 284px;
  height: 228px;
}
.frameChild3 {
  top: 122px;
  left: 313px;
  width: 278px;
  height: 223px;
}
.pastEvents {
  position: absolute;
  top: 0;
  left: 184px;
  font-weight: 600;
}
.frame11 {
  position: absolute;
  top: 495px;
  left: 321px;
  width: 591px;
  height: 345px;
  overflow: hidden;
}
.theMentorMenteeConnect {
  position: absolute;
  top: calc(50% - 102.13px);
  right: 26.85px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 754px;
  height: 198px;
  transform: rotate(0.47deg);
  transform-origin: 0 0;
}
.theMentorMenteeConnectAppWrapper {
  position: absolute;
  top: 272.35px;
  left: 784.94px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.51);
  box-sizing: border-box;
  width: 786.04px;
  height: 235.31px;
  overflow: hidden;
  transform: rotate(179.53deg);
  transform-origin: 0 0;
  mix-blend-mode: hard-light;
}
.workerHelpingEachOtherForIcon {
  position: absolute;
  top: 21px;
  left: 34px;
  width: 398px;
  height: 319px;
  object-fit: cover;
}
.workerHelpingEachOtherForWrapper {
  position: absolute;
  top: 298px;
  left: 1220.94px;
  width: 408px;
  height: 319px;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame12 {
  top: 45px;
  left: 22.06px;
  width: 1220.94px;
  height: 319px;
}
.frame10,
.frame12,
.frameWrapper {
  position: absolute;
  overflow: hidden;
}
.frameWrapper {
  top: 393px;
  left: 1226px;
  background: radial-gradient(50% 50%at 50% 50%, #fbf9ff, rgba(100, 8, 217, 0));
  width: 1209px;
  height: 393px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-pontano-sans);
}
.frame10 {
  top: 1738px;
  left: 13px;
  width: 1246px;
  height: 840px;
  font-size: var(--font-size-21xl);
}
.button1 {
  position: absolute;
  top: 2708px;
  left: 587px;
  cursor: pointer;
}
.desktop1 {
  position: relative;
  background-color: var(--color-blue);
  width: 100%;
  height: 3582px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
