.password {
  position: absolute;
  top: 265px;
  left: 27px;
  display: inline-block;
  width: 81px;
  height: 26px;
}
.frameChild {
  position: absolute;
  top: 15px;
  left: 161px;
  border-radius: 50%;
  background-color: #f9f8fb;
  width: 136px;
  height: 125px;
}
.heyThere {
  position: absolute;
  top: 140px;
  left: 168px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-purple-purse);
  display: inline-block;
  width: 129px;
  height: 30px;
}
.frameItem,
.wrapper {
  position: absolute;
  width: 393px;
}
.wrapper {
  border: 0;
  background-color: transparent;
  top: 209px;
  left: 36px;
}
.frameItem {
  top: 291px;
  left: 38px;
  border-radius: var(--br-41xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 39px;
}
.email {
  position: absolute;
  top: 183px;
  left: 27px;
  color: #151313;
  display: inline-block;
  width: 81px;
  height: 26px;
}
.signUp {
  font-weight: 800;
  color: #360fa4;
}
.dontHaveAnContainer {
  position: absolute;
  top: 395px;
  left: 85px;
  display: inline-block;
  width: 309px;
  height: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.selectdefaultFormselect {
  width: 141px;
  position: absolute;
  top: 352px;
  left: 164px;
}
.buttonoutlined {
  position: absolute;
  top: 446px;
  left: 194px;
  cursor: pointer;
}
.inputstandardWithIcon {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 298px;
  left: 59px;
}
.passwordParent {
  position: relative;
  border-radius: var(--br-11xl);
  background: linear-gradient(40.27deg, #ffaf04, rgba(255, 175, 4, 0));
  width: 469px;
  height: 498px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
